@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);

@import url(./blocks/content/content.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_type/header__link_type_exit.css);
@import url(./blocks/header/__nav/header__nav.css);
@import url(./blocks/header/__hamburger/header__hamburger.css);
@import url(./blocks/header/__hamburger/_hidden/header__hamburger_hidden.css);
@import url(./blocks/header/__nav/_visible/header__nav_visible.css);
@import url(./blocks/header/__logo-container/header__logo-container.css);
@import url(./blocks/header/_logout/header_logout.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info-text/profile__info-text.css);
@import url(./blocks/profile/__avatar-name/profile__avatar-name.css);
@import url(./blocks/profile/__avatar-job/profile__avatar-job.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__place-photo/element__place-photo.css);
@import url(./blocks/element/__place-name/element__place-name.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__delete-button/element__delete-button.css);
@import url(./blocks/element/__like-and-counter/element__like-and-counter.css);
@import url(./blocks/element/__likes-counter/element__likes-counter.css);
@import url(./blocks/element/__delete-button/_hidden/element__delete-button_hidden.css);
@import url(./blocks/element/__delete-button/_visible/element__delete-button_visible.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form-title/popup__form-title.css);
@import url(./blocks/popup/__form-input/popup__form-input.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__photo-container/popup__photo-container.css);
@import url(./blocks/popup/__photo-name/popup__photo-name.css);
@import url(./blocks/popup/_photo/popup_photo.css);
@import url(./blocks/popup/__form-input/_type/popup__form-input_type_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(./blocks/popup/__form/_type/popup__form_type_delete.css);
@import url(./blocks/popup/__form/_type/popup__form_type_avatar.css);
@import url(./blocks/popup/__infotooltip-image/popup__infotooltip-image.css);
@import url(./blocks/popup/__infotooltip-title/popup__infotooltip-title.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/button-hover/button-hover.css);
@import url(./blocks/popup/_opened/popup_opened.css);

@import url(./blocks/entry/entry.css);
@import url(./blocks/entry/__footer-link/entry__footer-link.css);
@import url(./blocks/entry/__footer/entry__footer.css);
@import url(./blocks/entry/__form-input/entry__form-input.css);
@import url(./blocks/entry/__form/entry__form.css);
@import url(./blocks/entry/__submit-button/entry__submit-button.css);
@import url(./blocks/entry/__title/entry__title.css);
